#!/bin/bash

set -e

RELEASE_IMAGE_DIGEST="{{.ReleaseImage}}"
	
image_for() {
   docker run --rm --net=none "${RELEASE_IMAGE_DIGEST}" image "${1}"
}

docker pull "${RELEASE_IMAGE_DIGEST}"

# KUBE_APISERVER_OPERATOR_IMAGE=$(image_for cluster-kube-apiserver-operator)
# KUBE_CONTROLLER_MANAGER_OPERATOR_IMAGE=$(image_for cluster-kube-controller-manager-operator)
# KUBE_SCHEDULER_OPERATOR_IMAGE=$(image_for cluster-kube-scheduler-operator)
# For now, use operator image replacements
KUBE_APISERVER_OPERATOR_IMAGE=quay.io/csrwng/cluster-kube-apiserver-operator:hosted
KUBE_CONTROLLER_MANAGER_OPERATOR_IMAGE=quay.io/csrwng/cluster-kube-controller-manager-operator:hosted
KUBE_SCHEDULER_OPERATOR_IMAGE=quay.io/csrwng/cluster-kube-scheduler-operator:hosted
OPENSHIFT_HYPERKUBE_IMAGE=$(image_for hyperkube)

# Ensure we have the latest version of the images
docker pull "${KUBE_APISERVER_OPERATOR_IMAGE}"
docker pull "${KUBE_CONTROLLER_MANAGER_OPERATOR_IMAGE}"
docker pull "${KUBE_SCHEDULER_OPERATOR_IMAGE}"

docker run  \
	--volume "$(pwd)/bootstrap/opt/openshift:/assets" \
	"${KUBE_APISERVER_OPERATOR_IMAGE}" \
	/usr/bin/cluster-kube-apiserver-operator render \
	--manifest-etcd-serving-ca=etcd-ca-bundle.crt \
	--manifest-etcd-server-urls=https://etcd-client:2379 \
	--manifest-image="${OPENSHIFT_HYPERKUBE_IMAGE}" \
	--manifest-operator-image="${KUBE_APISERVER_OPERATOR_IMAGE}" \
	--asset-input-dir=/assets/tls \
	--asset-output-dir=/assets/kube-apiserver-bootstrap \
	--config-output-file=/assets/kube-apiserver-bootstrap/config \
	--cluster-config-file=/assets/manifests/cluster-network-02-config.yml

cp ./bootstrap/opt/openshift/kube-apiserver-bootstrap/hosted-manifests/* ./hosted

docker run  \
	--volume "$(pwd)/bootstrap/opt/openshift:/assets" \
	"${KUBE_CONTROLLER_MANAGER_OPERATOR_IMAGE}" \
	/usr/bin/cluster-kube-controller-manager-operator render \
	--manifest-image="${OPENSHIFT_HYPERKUBE_IMAGE}" \
	--asset-input-dir=/assets/tls \
	--asset-output-dir=/assets/kube-controller-manager-bootstrap \
	--config-output-file=/assets/kube-controller-manager-bootstrap/config \
	--cluster-config-file=/assets/manifests/cluster-network-02-config.yml

cp ./bootstrap/opt/openshift/kube-controller-manager-bootstrap/hosted-manifests/* ./hosted

docker run  \
	--volume "$(pwd)/bootstrap/opt/openshift:/assets" \
	"${KUBE_SCHEDULER_OPERATOR_IMAGE}" \
	/usr/bin/cluster-kube-scheduler-operator render \
	--manifest-image="${OPENSHIFT_HYPERKUBE_IMAGE}" \
	--asset-input-dir=/assets/tls \
	--asset-output-dir=/assets/kube-scheduler-bootstrap \
	--config-output-file=/assets/kube-scheduler-bootstrap/config

cp ./bootstrap/opt/openshift/kube-scheduler-bootstrap/hosted-manifests/* ./hosted
