#!/bin/bash

RELEASE_IMAGE_DIGEST="{{.ReleaseImage}}"
	
image_for() {
   docker run --rm --net=none "${RELEASE_IMAGE_DIGEST}" image "${1}"
}

KUBE_CONTROLLER_MANAGER_OPERATOR_IMAGE=$(image_for cluster-kube-controller-manager-operator)
OPENSHIFT_HYPERKUBE_IMAGE=$(image_for hyperkube)

docker run  \
	--volume "$(pwd)/bootstrap/opt/openshift:/assets" \
	"${KUBE_CONTROLLER_MANAGER_OPERATOR_IMAGE}" \
	/usr/bin/cluster-kube-controller-manager-operator render \
	--manifest-image="${OPENSHIFT_HYPERKUBE_IMAGE}" \
	--asset-input-dir=/assets/tls \
	--asset-output-dir=/assets/kube-controller-manager-bootstrap \
	--config-output-file=/assets/kube-controller-manager-bootstrap/config \
	--cluster-config-file=/assets/manifests/cluster-network-02-config.yml
